.container{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    

    
}



textarea:focus, input:focus{
    outline: none;
}
button {border:0;outline:0;}
button:focus {outline:none!important;}

button{
    
    border:solid 1px black;
    height: 20px;
    width:100px
}
